.services {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.services__image {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: 100%; /* A imagem ocupa toda a altura do container */
    object-fit: cover; /* A imagem preenche o espaço sem distorcer */
    display: block; /* Evita espaços extras */
}

.services__title {
    margin-top: 1.5rem;
    line-height: 1;
}

.services__content {
    margin-top: 1.5rem;
}

.services__item {
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
}

.services__info {
    margin-left: 1.5rem;
}

.services__item-title {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.8rem;
}

.services__item-content {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .services {
        margin-top: 8rem;
    }
}

@media (min-width: 900px) {
    .services {
        margin-top: 10rem;
        flex-direction: row;
        justify-content: space-between;
        height: 60rem; /* Define uma altura fixa para o container */
    }

    .services__image {
        flex: 1; /* Ocupa o espaço disponível */
        height: 100%; /* Preenche toda a altura */
        object-fit: cover; /* Garante que a imagem preencha o container */
    }

    .services__description-container {
        width: 50%; /* Controla o conteúdo textual */
        padding: 2rem; /* Espaçamento interno */
    }
}